canvas.myCanvas {
	margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
	font-family : 'Arial', Arial;
	color 		: white;
}



.heartCollect {
	margin 		: 0.2em;
	color : black;
	float : left;
	margin-left : 3em;
	margin-right: 3em;

}